# Padavan config for Newifi Y1 (MT7620A 128M RAM / 16M Flash)

CONFIG_VENDOR=LENOVO
CONFIG_FIRMWARE_PRODUCT_ID="NEWIFI-Y1"
CONFIG_FIRMWARE_INCLUDE_OPENSSL=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n
CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=y
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=n
CONFIG_FIRMWARE_INCLUDE_TTYD=n
CONFIG_FIRMWARE_INCLUDE_HTOP=y
